<div class="container">
  <div class="header d-flex justify-content-between my-4">
    <h3 class="align-self-end">Deleted Files</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      @for (deletedFile of deletedFiles; track $index) {
        <tr>
          <th scope="row">{{ deletedFile.id }}</th>
          <td>{{ deletedFile.amount }}</td>
          <td>{{ deletedFile.createdAt*1000 | date:'medium' }}</td>
        </tr>
      }
    </tbody>
  </table>
  <app-page-nav [page]="page" (pageChangedEvent)="getPage($event)"></app-page-nav>
</div>
