.post-body {
  line-height: 35px;
  overflow-wrap: break-word;
}

.logo-wrapper {
  padding: 0 200px;
}

.card {
  transition: transform 0.5s; 
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.card:hover {
  transform: scale(1.05);
}