.object-fit-cover {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

table th,
table td {
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f9f9f9;
}

.btn-primary {
  background-color: #764ba2;
  border-color: #764ba2;
  color: white; 
}

.btn-primary:hover {
  background-color: #6f42c1; 
  border-color: #6f42c1; 
}

.badge {
  font-size: 0.75rem;
  padding: 0.4em 0.6em;
}

.btn-outline-secondary:hover {
  background-color: #f0f0f0;
}

.btn-outline-danger:hover {
  background-color: #ffe6e6;
}
